
   <main>
            <div class="container">

                <section class="details">
                    <h1>{{product.title}}</h1>
                    <div>
                        <img src="{{product.imageUrl}}" />
                    </div>
                </section>

                <section class="details">
                    <h3>Theater Description</h3>
                    <p>{{product.description}}</p>
                    <div class="buttons">
                        <a class="btn delete" href="/products/{{product._id}}/delete">Delete</a>
                        <a class="btn edit" href="/products/{{product._id}}/edit">Edit</a>
                        {{#if product.liked}}
                        <span class="liked">You have already liked this play!</span>
                        {{/if}}
                        {{#unless product.isCreator}}
                        <a class="btn like" href="/products/{{product._id}}/like">Like</a>
                        {{/unless}}
                    </div>
                </section>
            </div>
        </main>